* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}

.App {
    width: 900px;
    margin-top: 10px;
}

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: lightgray;
}

.navbar__links {
    margin-left: auto;
}

.menu {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.firstBlock {
    display: flex;
    justify-content: flex-start;
}

.secondBlock {
    display: flex;
    justify-content: flex-end;
}